//colors
$color-rosa: rgb(135, 82, 82);
$color-grey: rgb(116, 115, 115);
$color-rosa-light: rgb(230, 224, 224);
$color-green: rgba(87, 151, 87, 0.587);
$color-grey-icons: #333;
$color-white-footer: #f8f9fa;

//font
$font-family: "Laila", sans-serif;

//mixin
@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

//paleta de colores
.text-color {
  color: $color-rosa;
}

.text-color-g {
  color: $color-grey;
}

.bg-pink {
  background-color: $color-rosa-light;
}

.text-carousel-h3 {
  color: $color-green;
}
