.footer {
  background-color: $color-white-footer;
  padding: 1.25rem 0rem;
  text-align: center;
}

.icon-link {
  font-size: 1.5rem;
  margin: 0rem 0.625rem;
  color: $color-grey-icons;
}

.contact-info {
  margin-top: 1rem;
}
