.card-img-h {
  height: 11.875rem;
}

.margin-main-tf {
  margin-top: 10rem;
}

.img-size {
  height: 45rem;
}

.text-carousel-h6 {
  color: rgb(95, 93, 93);
  margin-bottom: 19rem;
}

.margin-tit-nosotros {
  margin-top: 1rem;
}

.imagen-nosotros {
  @include sizes(auto, auto);
}

.margin-nosotros {
  margin-top: 4rem;
}

.margin-padding-carousel {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  margin-top: 6.7rem;
}

.card {
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.09);
}
